#sidebarA{
    color: white;
}

#filterResults{
    font-size: 12px;
    color: black;
    background-color: #2399d5;
    border-radius: 0;

}

.theme{
    background-color: #000000;
}

.select{
    font-style: italic;
    opacity: .7;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
}

.listings .item {
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: black;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #2A395F;
}


.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: center;
    padding: 5;
    width: 180px;
  }

.mapboxgl-popup-close-button {
    display: none;
  }

.mapboxgl-popup-content h3 {
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;

  }

.full-height-co {
    height: 100%!important;

  }

.full-width-co {
    width: 100%!important;

  }

.two-columns-co {
    display: grid!important;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;

  }

.1pixel-border-co {
    border-width: 1px!important;

  }

  
